.App {
  text-align: center;
}

.mobileSection {
  display: none;
  @media (max-width:481px) {
      display: block;
    }
}

.disktopSection {
  display: none;

  @media (min-width:482px) {
    display: block;
  }
}

